<nav class="border fixed">
  <div class="nav-brand">
    <h4><a href="#">To Do List</a></h4>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible2">
    <label for="collapsible2">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li><a routerLink="/">Liste</a></li>
        <li><a routerLink="/ajouter-une-taches">Ajouter une tâche</a></li>
        <li><a href="https://github.com/Alexandre-Jln/Rattrapage-Angular">Github</a></li>
      </ul>
    </div>
  </div>
</nav>
